<style>
    /* Styling for the button */
    #home {
        padding: 10px 20px;
        /* Adding padding to increase size */
        font-size: 18px;
        /* Increasing font size */
        background-color: #b17d7d;
        /* Green background color */
        color: white;
        /* White text color */
        border: none;
        /* Removing border */
        border-radius: 5px;
        /* Adding border radius */
        cursor: pointer;
        /* Changing cursor to pointer on hover */
    }

    /* Hover effect */
    #home:hover {
        background-color: #535353;
        /* Darker green on hover */
    }
</style>

<button id="home" data-url="{% url 'home' %}">Home</button>

<script>
    document.getElementById("home").addEventListener("click", function () {
        var url = this.getAttribute("data-url");
        window.location.href = url;
    });
</script>

<div>


    <div>

        <!-- This line of code displays the entries -->
        <ul class="entries__list">
            <h1>Entries <span>({{ entries|length }})</span></h1>
            {% for entry in page_obj %}
            <div class="entry_container">
                <li>
                    <a href="{% url 'user-data' entry.user.id %}">{{ entry.user }}</a>
                    <a><span style="color:rgb(83, 82, 158)"> {{ entry.created_entry|timesince }} ago created an
                            entry:</span> </a>
                    <p>{{ entry.subject }} | {{ entry.message }}</p>
                    <hr>
                </li>
            </div>
            {% endfor %}
        </ul>
        <!-------------------------------------------->


        {% if page_obj.has_other_pages %}
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>