<style>
    /* Styling for the button */
    #go-back {
        padding: 10px 20px;
        /* Adding padding to increase size */
        font-size: 18px;
        /* Increasing font size */
        background-color: #b17d7d;
        /* Green background color */
        color: white;
        /* White text color */
        border: none;
        /* Removing border */
        border-radius: 5px;
        /* Adding border radius */
        cursor: pointer;
        /* Changing cursor to pointer on hover */
    }

    /* Hover effect */
    #go-back:hover {
        background-color: #535353;
        /* Darker green on hover */
    }
</style>

<button id="go-back">Go Back!</button>

<script>
    document.getElementById("go-back").addEventListener("click", function () {
        window.history.back();
    });
</script>

<div>

    <ul class="data__list">
        <li>

            <h1>User Data</h1>

            <a><span style="color:rgb(83, 82, 158)"> Username:</span> {{username}} </a>
            <hr>

            <a><span style="color:rgb(83, 82, 158)">Count Of Messages:</span> {{countOfMessages}}</a>
            <hr>

            <a><span style="color:rgb(83, 82, 158)">Last Entry:</span> {{subjectOfLastEntry}} |
                {{messageOfLastEntry}}</a>
            <hr>

        </li>
    </ul>

</div>